.canvas {
  width: 10000px;
  height: 5000px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: scale(0.5); */
}
.canvas-wrap {
  width: 100%;
  height: calc(100vh - 62.52px);
  overflow: scroll;
  user-select: none;
  position: relative;
}

.mindmap {
  position: relative;
  z-index: 0;
  /* border: 2px solid rgb(255, 230, 0); */
}
.rootnode {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000229;
  color: white;
  padding: 1rem;
  border: 2px solid transparent;
  border-radius: 15px;
  outline: none;
  font-size: 1.5rem;
}

.input-box {
  position: absolute;
  background: white;
  outline: none;
  border: 2px dashed rgb(0, 0, 0);
  color: black;
  padding: 5px;
  user-select: text;
  z-index: 2;
}
.node {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: #f6a04d;
  padding: 1rem;
  margin: 1rem 10rem;
  outline: none;
  font-size: 1.2rem;
}
.svg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  /* border: 2px solid black; */
}
.select-box {
  position: absolute;
  border: 2px dashed #5bbdff;
  background-color: rgba(0, 153, 255, 0.2);
  pointer-events: none;
  z-index: 1000;
}

.selected {
  position: relative;
}

.selected::after {
  content: "";
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  border-radius: 10px;
  border: 2px solid #0099ff;
}
